<div style="margin-top: 5%; width:35%;
max-width:500px;; margin-left: 15%">
  <h1>World is a beautiful area where everyone will find something they love.</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
    dolore eu fugiat nulla pariatur.
  </p>
  <form [formGroup]="signup" (ngSubmit)="submit()">
    <div class="form-group">
      <app-file-uploader formControlName="image" style="width: 100%" (fileUrlEvent)="saveUploadedFileUrl($event)"></app-file-uploader>
      <!-- <div class="invalid-feedback" style="display: block">
        <ng-container *ngIf="hasError('image', 'required')">This field is required</ng-container>
        <ng-container *ngIf="hasError('image', 'requiredFileType')">Only PNG 🤡</ng-container>
      </div> -->
      <app-existing-resource-picker buttonName="Video" style="width: 100%" ></app-existing-resource-picker>
      <app-existing-resource-picker buttonName="Audio" style="width: 100%" (click)="useOurAudioClick()"></app-existing-resource-picker>
    </div>
    <!-- <app-progress [progress]="progress"></app-progress> -->
    <app-audio *ngIf="showUserMedia" [filePath]="userMediaUrl" [range]="activeRange"></app-audio>
    <app-results *ngIf="showUserMedia && !isUserMediaLoading" [labelsByPeriods]="userMediaResult" (periodClickEvent)="setMediaTime($event)"></app-results>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>
