<div class="app-comp">

  <div class="left-part">
    <h1>World is a beautiful pleace where everyone will find something they love.</h1>
    <p>This website provides AI based technology for analysis of video and audio files. It helps to get information when in material occurred or was mentioned specific categories.<br>
      How it works?<br>
      1. Choose the file by clicking Upload<br>
      2. Wait for the results
    </p>
    <form [formGroup]="signup" (ngSubmit)="submit()">
      <div class="form-group">
        <app-file-uploader formControlName="image" style="width: 100%" (fileUrlEvent)="saveUploadedFileUrl($event)">
        </app-file-uploader>
        <!-- <div class="invalid-feedback" style="display: block">
        <ng-container *ngIf="hasError('image', 'required')">This field is required</ng-container>
        <ng-container *ngIf="hasError('image', 'requiredFileType')">Only PNG 🤡</ng-container>
      </div> -->
        <!-- <app-existing-resource-picker buttonName="Video" style="width: 100%"></app-existing-resource-picker>
        <app-existing-resource-picker buttonName="Audio" style="width: 100%" (click)="useOurAudioClick()">
        </app-existing-resource-picker> -->
      </div>
      <!-- <app-progress [progress]="progress"></app-progress> -->
      <app-audio *ngIf="showUserMedia" [filePath]="userMediaUrl" [range]="activeRange"></app-audio>
      <app-results *ngIf="showUserMedia && !isUserMediaLoading" [labelsByPeriods]="userMediaResult"
        (periodClickEvent)="setMediaTime($event)"></app-results>
      <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
    </form>
  </div>

  <div class="right-part">
    <img *ngIf="showUserMedia && !isUserMediaLoading" [src]="chartImage">
  </div>

</div>
